<a href="https://colab.research.google.com/github/Anichan55/Churn_Analysis/blob/main/ChurnAnalysis_using_ML_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
#import xgboost as xgb

from sklearn import metrics
from sklearn.metrics import accuracy_score, auc, confusion_matrix, roc_auc_score, roc_curve, recall_score

In [ ]:
df_test=pd.read_csv("churnTest.csv")
df_train=pd.read_csv("churnTrain.csv")

In [ ]:
df_train.fillna(0)
df_test.fillna(0)
df_train.shape
df_test.shape

(425, 20)

In [ ]:
X_train=df_train.drop(labels=['Churn'],axis=1)
X_test=df_test
Y_train=df_train['Churn']
X_train.head()

,State,Account_Length,Area_Code,Phone_No,International_Plan,Voice_Mail_Plan,No_Vmail_Messages,Total_Day_minutes,Total_Day_Calls,Total_Day_charge,Total_Eve_Minutes,Total_Eve_Calls,Total_Eve_Charge,Total_Night_Minutes,Total_Night_Calls,Total_Night_Charge,Total_Intl_Minutes,Total_Intl_Calls,Total_Intl_Charge,No_CS_Calls
0,KS,128,415,3824657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,107,415,3717191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,137,415,3581921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,84,408,3759999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,415,3306626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [ ]:
X_train['International_Plan'] = X_train['International_Plan'].replace((' yes', ' no'), (True, False)).astype(bool)
X_train['Voice_Mail_Plan'] = X_train['Voice_Mail_Plan'].replace((' yes', ' no'), (True, False)).astype(bool)
X_train['Premium'] = (X_train['International_Plan'] & X_train['Voice_Mail_Plan']).astype(bool)

In [ ]:
X_test['International_Plan'] = X_test['International_Plan'].replace((' yes', ' no'), (True, False)).astype(bool)
X_test['Voice_Mail_Plan'] = X_test['Voice_Mail_Plan'].replace((' yes', ' no'), (True, False)).astype(bool)
X_test['Premium'] = (X_test['International_Plan'] & X_train['Voice_Mail_Plan']).astype(bool)

In [ ]:
X_test.isnull().sum()

State                   0
Account_Length          1
Area_Code               1
Phone_No                0
International_Plan      0
Voice_Mail_Plan         0
No_Vmail_Messages       0
Total_Day_minutes       7
Total_Day_Calls         4
Total_Day_charge       11
Total_Eve_Minutes      11
Total_Eve_Calls         4
Total_Eve_Charge        5
Total_Night_Minutes    11
Total_Night_Calls       6
Total_Night_Charge      4
Total_Intl_Minutes      3
Total_Intl_Calls        5
Total_Intl_Charge       0
No_CS_Calls             0
Premium                 0
dtype: int64

In [ ]:
X_test.loc[X_test['Total_Day_minutes'].isnull()]=X_test.loc[X_test['Total_Day_minutes'].isnull()].fillna(0)
X_test.loc[X_test['Total_Eve_Minutes'].isnull()]=X_test.loc[X_test['Total_Eve_Minutes'].isnull()].fillna(0)
X_test.loc[X_test['Total_Day_Calls'].isnull()]=X_test.loc[X_test['Total_Day_Calls'].isnull()].fillna(0)
X_test.loc[X_test['Total_Day_charge'].isnull()]=X_test.loc[X_test['Total_Day_charge'].isnull()].fillna(0)
X_test.loc[X_test['Total_Eve_Calls'].isnull()]=X_test.loc[X_test['Total_Eve_Calls'].isnull()].fillna(0)
X_test.loc[X_test['Total_Eve_Charge'].isnull()]=X_test.loc[X_test['Total_Eve_Charge'].isnull()].fillna(0)
X_test.loc[X_test['Total_Night_Minutes'].isnull()]=X_test.loc[X_test['Total_Night_Minutes'].isnull()].fillna(0)
X_test.loc[X_test['Total_Night_Calls'].isnull()]=X_test.loc[X_test['Total_Night_Calls'].isnull()].fillna(0)
X_test.loc[X_test['Total_Night_Charge'].isnull()]=X_test.loc[X_test['Total_Night_Charge'].isnull()].fillna(0)
X_test.loc[X_test['Total_Intl_Minutes'].isnull()]=X_test.loc[X_test['Total_Intl_Minutes'].isnull()].fillna(0)
X_test.loc[X_test['Total_Intl_Calls'].isnull()]=X_test.loc[X_test['Total_Intl_Calls'].isnull()].fillna(0)

In [ ]:
X_test.shape

(425, 21)

In [ ]:
X_train.head(3)

,State,Account_Length,Area_Code,Phone_No,International_Plan,Voice_Mail_Plan,No_Vmail_Messages,Total_Day_minutes,Total_Day_Calls,Total_Day_charge,...,Total_Eve_Calls,Total_Eve_Charge,Total_Night_Minutes,Total_Night_Calls,Total_Night_Charge,Total_Intl_Minutes,Total_Intl_Calls,Total_Intl_Charge,No_CS_Calls,Premium
0,KS,128,415,3824657,False,True,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,3717191,False,True,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,3581921,False,False,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False

In [ ]:
X_training_set=X_train.drop(['State','Account_Length','Area_Code','Phone_No'], axis = 1)
X_test_set=X_test.drop(['State','Account_Length','Area_Code','Phone_No'], axis = 1)

LOGISTIC REGRESSION

In [ ]:
#fit the model on train data 
log_reg = LogisticRegression().fit(X_training_set, Y_train)

#predict on train 
train_preds = log_reg.predict(X_training_set)
#accuracy on train
print("Model accuracy on train is: ", accuracy_score(Y_train, train_preds))

Model accuracy on train is:  0.8610861086108611

In [ ]:
train_preds

array([False, False, False, ..., False, False, False])

In [ ]:
test_preds = log_reg.predict(X_test_set)

In [ ]:
prediction=X_test

In [ ]:
prediction['Cust_Sub_Cancelation_Chances']=test_preds
print("Prediction Count:\n",prediction['Cust_Sub_Cancelation_Chances'].value_counts())
print("\nShape: ",prediction.shape)

Prediction Count:
 False    408
True      17
Name: Cust_Sub_Cancelation_Chances, dtype: int64

Shape:  (425, 22)

In [ ]:
prediction.to_csv('LogisticRegression.csv')

Naive Baye's

In [ ]:
NB=GaussianNB()
NB.fit(X_training_set, Y_train)

#predict on train 
train_preds2 = NB.predict(X_training_set)
#accuracy on train
print("Model accuracy on train is: ", accuracy_score(Y_train, train_preds2))

#predict on test
test_preds2 = NB.predict(X_test_set)

Model accuracy on train is:  0.8574857485748575

Decison Tree Classifier

In [ ]:
#fit the model on train data 
DT = DecisionTreeClassifier().fit(X_training_set, Y_train)

#predict on train 
train_preds3 = DT.predict(X_training_set)
#accuracy on train
print("Model accuracy on train is: ", accuracy_score(Y_train, train_preds3))

#predict on test
test_preds3 = DT.predict(X_test_set)

Model accuracy on train is:  1.0

Random Forest Classifier

In [ ]:
#fit the model on train data 
RF=RandomForestClassifier().fit(X_training_set, Y_train)
#predict on train 
train_preds4 = RF.predict(X_training_set)
#accuracy on train
print("Model accuracy on train is: ", accuracy_score(Y_train, train_preds4))

#predict on test
test_preds4 = RF.predict(X_test_set)

Model accuracy on train is:  0.9942994299429943

In [ ]:
test_preds4 = log_reg.predict(X_test_set)

In [ ]:
prediction=X_test

In [ ]:
prediction['Cust_Sub_Cancelation_Chances']=test_preds4
print("Prediction Count:\n",prediction['Cust_Sub_Cancelation_Chances'].value_counts())
print("\nShape: ",prediction.shape)

Prediction Count:
 False    408
True      17
Name: Cust_Sub_Cancelation_Chances, dtype: int64

Shape:  (425, 22)

In [ ]:
prediction.to_csv('RandomForestClassifier.csv')